{% extends 'base.html' %}

{% block title %}KPI{% endblock %}

{% block extra_head %}
<style>
    .kpi-card {
        background-color: #343a40;
        color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
    }

    .kpi-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .kpi-count {
        font-size: 3rem;
        font-weight: bold;
    }

    .kpi-percentage {
        font-size: 2rem;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Key Performance Indicators</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="kpi-card">
                <h5>Total Prijavnica</h5>
                <div class="kpi-count">{{ count }}</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="kpi-card">
                <h5>Valid Prijavnica</h5>
                <div class="kpi-percentage">{{ valid_percentage }}%</div>
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Potrjeno', 'Zavrnjeno', 'Nepregledanoeno'],
        datasets: [{
          label: '# of Votes',
          data: [{{ valid_count }}, {{ false_count }}, {{ none_count }}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}