{% extends 'base.html' %}

{% block title %}Prijavnica{% endblock %}

{% block content %}
<h2 class="text-center">Prijavi se na test za varnost pri delu</h2>
<form method="POST" action="{% url 'prijavnica' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="ime">Ime</label>
        <input type="text" class="form-control" id="ime" name="ime" required>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="valid" name="valid" value="None">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="komentar" name="komentar" value="None">
    </div>
    <div class="form-group">
        <label for="priimek">Priimek</label>
        <input type="text" class="form-control" id="priimek" name="priimek" required>
    </div>
    <div class="form-group">
        <label for="email">E-naslov</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="phone">Telefonska številka</label>
        <input type="tel" class="form-control" id="phone" name="phone" required>
    </div>
    <div class="form-group">
        <label for="dejavnost">Dejavnost</label>
        <select class="form-control" id="dejavnost" name="dejavnost" required>
            <option value="gozdarstvo">Gozdarstvo</option>
            <option value="zdravstvena_nega">Zdravstvena nega</option>
            <option value="izobraževanje">Izobraževanje</option>
            <option value="gradbeništvo">Gradbeništvo</option>
            <option value="trgovina">Trgovina</option>
            <option value="proizvodnja">Proizvodnja</option>
            <option value="informatika">Informatika</option>
            <option value="turizem">Turizem</option>
            <option value="transport">Transport</option>
            <option value="kmetijstvo">Kmetijstvo</option>
            <option value="javna_uprava">Javna uprava</option>
            <option value="financne_storitve">Finančne storitve</option>
            <option value="umetnost">Umetnost</option>
            <option value="raziskave">Raziskave</option>
        </select>
    </div>
    <div class="form-group">
        <label for="datumrojstva">Datum rojstva</label>
        <input type="date" class="form-control" id="datumrojstva" name="datumrojstva" required>
    </div>
    <button type="submit" class="btn btn-primary">Pošlji</button>
</form>
{% endblock %}
