{% extends 'base.html' %}

{% block title %}Vse Prijavnice{% endblock %}

{% block extra_head %}
<style>
    .table {
        background-color: #343a40;
        color: #f8f9fa;
        overflow: hidden;
    }

    .table th {
        background-color: #495057;
        color: #f8f9fa;
    }

    .table tr:nth-child(even) {
        background-color: #212529;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Vse Prijavnice</h1>
    {% if prijavnica_list %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Priimek</th>
                    <th>Phone</th>
                    <th>Dejavnost</th>
                    <th>Datum Rojstva</th>
                    <th>Valid</th>
                    <th>Komentar</th>
                    <th>Potrdi</th>
                </tr>
            </thead>
            <tbody>
                {% for prijavnica in prijavnica_list %}
                <tr>
                    <td>{{ prijavnica.ime }}</td>
                    <td>{{ prijavnica.priimek }}</td>
                    <td>{{ prijavnica.phone }}</td>
                    <td>{{ prijavnica.dejavnost }}</td>
                    <td>{{ prijavnica.datumrojstva }}</td>
                    <td>
                        {% if prijavnica.valid is None %}
                            Nepreverjeno
                        {% elif prijavnica.valid %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'edit_prijavnica' prijavnica.id %}?komentar={{ prijavnica.komentar }}&valid={{ prijavnica.valid }}">
                            {% csrf_token %}
                            <input type="text" name="komentar" value="{{ prijavnica_instance.komentar }}">
                            <label for="valid">Validna Prijava ?</label>
                            <input type="checkbox" name="valid" {% if prijavnica_instance.valid %}checked{% endif %}>
                            <br>
                            <td>

                                <button type="submit" class="btn btn-primary">Uredi
                                </button>
                            </td>
                        </form>
                        

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No Prijavnica instances found.</p>
    {% endif %}
</div>
{% endblock %}