{% extends 'base.html' %}

{% load static %}

{% block title %}Moje Prijavnice{% endblock %}

{% block content %}
<h2 class="text-center">Moje Prijavnice</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Dejavnost</th>
            <th>Datum Rojstva</th>
            <th>Veljavno</th>
            <th>Komentar</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        {% for prijavnica in prijavnice_list %}
        <tr>
            <td>{{ prijavnica.ime }}</td>
            <td>{{ prijavnica.priimek }}</td>
            <td>{{ prijavnica.email }}</td>
            <td>{{ prijavnica.phone }}</td>
            <td>{{ prijavnica.dejavnost }}</td>
            <td>{{ prijavnica.datumrojstva }}</td>
            <td>
                {% if prijavnica.valid is False %}
                    <img src="{% static 'images/x.png' %}" alt="Invalid" width="20">
                {% elif prijavnica.valid is True %}
                    <img src="{% static 'images/checkmark.png' %}" alt="Valid" width="20">
                {% else %}
                    Na čakanju
                {% endif %}
            </td>
            <td>
                {% if prijavnica.valid is False %}
                    {{ prijavnica.komentar }}
                {% endif %}
            </td>
            <td>
                {% if prijavnica.valid is False %}
                    <a href="{% url 'user_edit_prijavnica' prijavnica.id %}" class="btn btn-primary">Uredi</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="text-center">Ni prijavnic za prikaz</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
